.header {
  padding-bottom: 120px;
  background-color: var(--secondary-background);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__wprapper {
  margin: 0px auto;
  padding: 0 60px;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.switch_lang__container {
  margin-left: auto;
  margin-top: 31px;
  max-width: 90px;
}

.switch_lang__link {
  margin-right: 19px;
  padding: 2px 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  list-style: none;
  color: var(--text-secondary-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.switch_lang__link:last-child {
  margin-right: 0px;
}

.switch_lang__link:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

.switch_lang__link:active {
  background-color: #ffffff;
  border-radius: 12px;
  color: var(--secondary-color);
}

.app__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app_info__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 385px;
}

.app_info__title {
  margin: 129px 0px 0px 0px;
  padding-right: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  color: var(--text-secondary-color);
}

.mark_title {
  padding: 1px 12px 3px 12px;
  width: 122px;
  border-radius: 20px;
  height: 80px;
  background: #ffffff;
  color: var(--secondary-color);
}

.app_info__description {
  margin-top: 14px;
  width: 384px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: var(--text-secondary-color);
}

.app_info__btn {
  margin-top: 38px;
  width: 199px;
  height: 52px;
  color: #ffffff;
  background-color: var(--secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  border-radius: 12px;
  border: none;
}

.app_image__item {
  width: 578px;
}

@media (max-width: 376px) {
  .header {
    padding-bottom: 0px;
    min-height: 1100px;
    background: url('../../assets/main_mobile.svg') no-repeat;
    background-size: 100%;
    background-position: 20% 5%;
    
  }

  .header__wprapper {
    padding: 0 10px;
  }
  
  .switch_lang__container {
    margin-left: auto;
    margin-top: 26px;
    width: 67px;
  }

  .switch_lang__link {
    margin-right: 5px;
  }

  .app_image__item {
    display: none;
  }

  .app_image__container {
    display: none;
  }

  .app_info__title {
    margin-top: 463px;
  }

  .app_info__description {
    margin-top: 14px;
    width: 338px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .app_info__btn {
    width: 343px;
  }
}
