.products__wrapper {
  padding: 0 60px;
  margin: 0px auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.products__title {
  padding-top: 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  color: var(--text-secondary-color);
}

.products__title_color {
  background: none;
  color: var(--secondary-color);
}

.products__container {
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.products_item {
  padding: 20px 37px 0px 33px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 502px;
  height: 328px;
  background: #E9F6FF;
  border-radius: 30px;
}

.products_item:last-child {
  margin-right: 0px;
}

.products_item__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.products_item__title {
  padding-top: 32px;
  max-width: 201px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.products_item__description {
  padding-top: 12px;
  max-width: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

._widely {
  max-width: 210px;
}



@media (max-width: 450px) {
  .products__wrapper {
    padding: 0px 15px;
  }

  .products__title {
    padding-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }

  .products__container {
    margin: 0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px 0px;  
  }

  .products_item {
    position: relative;
    padding: 25px 20px 0px 16px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 344px;
    max-height: 215px;
    background: #E9F6FF;
    border-radius: 30px;
  }

  .products_item__title {
    padding-top: 18px;
    font-size: 16px;
  }

  .products_item__description {
    font-size: 13px;
  }

  ._widely {
    max-width: 162px;
  }

  .products_image {
    position: absolute;
    top: 33px;
    left: 200px;
    width: 142px;
    height: 190px;
  }
}
