.values__wrapper {
  padding: 114px 60px 0px 60px;
  margin: 0px auto;
  max-width: 1220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.values_content__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 480px;
}

.values_content__title {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: var(--text-secondary-color);
}

._colored {
  background: none;
  color: var(--secondary-color);
}

.values_content__description {
  padding-top: 20px;
  max-width: 405px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.values_content__btn {
  margin-top: 37px;
  width: 199px;
  height: 52px;
  background: var(--secondary-color);
  border-radius: 12px;
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.values_content__btn:hover {
  color: black;
  background: var(--secondary-background);
  box-shadow: 6px 4px 12px rgba(13, 12, 12, 0.25);
}

.values_icon__container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  max-width: 501px;
}

.icon__item {
  padding: 20px 10px 20px 15px;
  max-width: 231px;
  min-height: 140px;
}

.icon__description {
  padding-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--text-secondary-color);
}

@media (min-width: 375px) {
  .values__wrapper {
    padding: 40px 15px 0px 15px;
  }

  .values_content__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 343px;
  }

  .values_content__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--text-secondary-color);
  }

  ._colored {
    background: none;
    color: var(--secondary-color);
  }
  
  .values_content__description {
    padding-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
  }

  .values_content__btn {
    margin-top: 12px;
    width: 343px;
  }

  .values_content__btn:hover {
    color: black;
    background: var(--secondary-background);
    box-shadow: 6px 4px 12px rgba(13, 12, 12, 0.25);
  }

  .values_icon__container {
    margin-top: 32px;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    max-width: 343px;
    gap: 20px 15px; 
  }

  .icon__item {
    padding: 20px 10px 20px 15px;
    max-width: 164px;
    min-height: 118px;
  }

  .icon__description {
    padding-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--text-secondary-color);
  }
}
